# Group 5 Project ADS 502 Project
Members: Maria Mora Mora, Tanya Ortega, Graham Ward

Data set: HR Analytics, Predicting Data Science Job Change

In [11]:
# Import libraries for the project
import pandas as pd
import numpy as np

## Section 1: Data Importing and Pre-processing

In [12]:
# Importing the dataset
df = pd.read_csv('aug_train.csv')
aug_train = df.copy()

print(aug_train.head())

   enrollee_id      city  city_development_index gender  \
0         8949  city_103                   0.920   Male
1        29725   city_40                   0.776   Male
2        11561   city_21                   0.624    NaN
3        33241  city_115                   0.789    NaN
4          666  city_162                   0.767   Male

       relevent_experience enrolled_university education_level  \
0  Has relevent experience       no_enrollment        Graduate
1   No relevent experience       no_enrollment        Graduate
2   No relevent experience    Full time course        Graduate
3   No relevent experience                 NaN        Graduate
4  Has relevent experience       no_enrollment         Masters

  major_discipline experience company_size    company_type last_new_job  \
0             STEM        >20          NaN             NaN            1
1             STEM         15        50-99         Pvt Ltd           >4
2             STEM          5          NaN             NaN        never
3  Business Degree         <1          NaN         Pvt Ltd        never
4             STEM        >20        50-99  Funded Startup            4

   training_hours  target
0              36     1.0
1              47     0.0
2              83     0.0
3              52     1.0
4               8     0.0

After printing the data frame head we will start the pre processing of the data and getting a feel for its shape.

In [13]:
# Get the initial shape of the data frame
print(aug_train.shape)

(19158, 14)

In [14]:
# Get the data types of the columns
print(aug_train.dtypes)

enrollee_id                 int64
city                       object
city_development_index    float64
gender                     object
relevent_experience        object
enrolled_university        object
education_level            object
major_discipline           object
experience                 object
company_size               object
company_type               object
last_new_job               object
training_hours              int64
target                    float64
dtype: object

In [15]:
# Identifying the missing values
print(aug_train.isnull().sum())

enrollee_id                  0
city                         0
city_development_index       0
gender                    4508
relevent_experience          0
enrolled_university        386
education_level            460
major_discipline          2813
experience                  65
company_size              5938
company_type              6140
last_new_job               423
training_hours               0
target                       0
dtype: int64

In [16]:
# Get unique counts of gender column
print(aug_train['gender'].value_counts(), '\n')
# Get unique items in enrolled_university column
print(aug_train['enrolled_university'].value_counts(), '\n')
# Get unique items in education_level column
print(aug_train['education_level'].value_counts(), '\n')
# Get unique items in major_discipline column
print(aug_train['major_discipline'].value_counts(), '\n')
# Get unique items in experience column
print(aug_train['experience'].value_counts(), '\n')
# Get unique items in company_size column
print(aug_train['company_size'].value_counts(), '\n')
# Get unique items in company_type column
print(aug_train['company_type'].value_counts(), '\n')
# Get unique items in last_new_job column
print(aug_train['last_new_job'].value_counts())

gender
Male      13221
Female     1238
Other       191
Name: count, dtype: int64

enrolled_university
no_enrollment       13817
Full time course     3757
Part time course     1198
Name: count, dtype: int64

education_level
Graduate          11598
Masters            4361
High School        2017
Phd                 414
Primary School      308
Name: count, dtype: int64

major_discipline
STEM               14492
Humanities           669
Other                381
Business Degree      327
Arts                 253
No Major             223
Name: count, dtype: int64

experience
>20    3286
5      1430
4      1403
3      1354
6      1216
2      1127
7      1028
10      985
9       980
8       802
15      686
11      664
14      586
1       549
<1      522
16      508
12      494
13      399
17      342
19      304
18      280
20      148
Name: count, dtype: int64

company_size
50-99        3083
100-500      2571
10000+       2019
10/49        1471
1000-4999    1328
<10          1308
500-999       877
5000-9999     563
Name: count, dtype: int64

company_type
Pvt Ltd                9817
Funded Startup         1001
Public Sector           955
Early Stage Startup     603
NGO                     521
Other                   121
Name: count, dtype: int64

last_new_job
1        8040
>4       3290
2        2900
never    2452
4        1029
3        1024
Name: count, dtype: int64

In [26]:
# create a data frame that will be cleaned missing values
cleaned_df = aug_train.copy()

# Impute missing values of Gender column using XXXXXXX

# Impute missing of enrolled_university column using mode
cleaned_df['enrolled_university'].fillna(cleaned_df['enrolled_university'].mode()[0], inplace=True)
# impute the missing values of education_level column using mode
cleaned_df['education_level'].fillna(cleaned_df['education_level'].mode()[0], inplace=True)
# impute the missing values of major_discipline column using mode
cleaned_df['major_discipline'].fillna(cleaned_df['major_discipline'].mode()[0], inplace=True)
# Drop the missing values of experience column
cleaned_df.dropna(subset=['experience'], inplace=True)
# impute the missing values of company_size column using XXXXXXXXX
cleaned_df.dropna(subset=['company_size'], inplace=True)
# impute the missing values of company_type column using XXXXXXXXX

# Drop the missing values of last_new_job column


# Get the shape of the cleaned data frame
print(cleaned_df.shape)
print(cleaned_df.isnull().sum())

(13178, 14)
enrollee_id                  0
city                         0
city_development_index       0
gender                    2852
relevent_experience          0
enrolled_university          0
education_level              0
major_discipline             0
experience                   0
company_size                 0
company_type               764
last_new_job               201
training_hours               0
target                       0
dtype: int64

In [9]:
# Dropping the missing values and creating a new data frame
aug_train_dropped = aug_train.dropna()
print(aug_train_dropped.shape)
print(aug_train_dropped.isnull().sum())

(8955, 14)
enrollee_id               0
city                      0
city_development_index    0
gender                    0
relevent_experience       0
enrolled_university       0
education_level           0
major_discipline          0
experience                0
company_size              0
company_type              0
last_new_job              0
training_hours            0
target                    0
dtype: int64